body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** �ǉ� ***/
.article {
	display: flex;
}
.main-content{
	padding: 1em;
}
.side-menu {
	padding  : 1em;
	width    : 210px;
	min-width: 210px;
}
.filter-td {
	min-width  : 110px;
	max-width  : 110px;
	line-height: 1em;
}
.filter-tr {
	border-bottom : 1px solid lightgray;
	vertical-align: middle;
	line-height   : 2em;
	cursor        : pointer;
}
.filter-tr:hover {
	color: #116aff;
}
.filter-table {
	margin         : 0px;
	border-collapse: collapse;
}
.filter-count {
	text-align: right;
	float     : right;
	color     : gray;
	cursor    : pointer;
}
.separate {
	margin-top     : 1em;
	margin-bottom  : 0.5em;
	display        : flex;
  align-items: center;
	justify-content: space-between;
}
.separate-compact {
	display        : flex;
	justify-content: space-between;
}
.scroll {
	overflow: auto;
	height  : 300px;
}
.right-align {
	text-align   : right;
	width        : 3em;
	padding-right: 0.2em;
}
.small {
	font-size: small;
}
.hidden {
	display: none;
}
.margin-top {
	margin-top: 1em;
}
.pointer {
	cursor       : pointer;
	padding      : 5px;
	border-radius: 5px;
}
.pointer:hover {
	background-color: lightgray;
}
/*** �J���p ***/
.flex-left {
	display        : flex;
	justify-content: flex-start;
}
.middle {
	display: inline;
	vertical-align: middle;
}
.compact {
	line-height: 1em;
}
.under-bar {
	border-bottom: solid 1px lightgray;
}
.box {
	border: solid 1px black;
}